:root{
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body{
    background-color: #eeee;
    font-family: Arial, Helvetica, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
    margin-bottom: 1.5em;
}

.main {
   padding: 0 1.5em;
   background-color: #fff;
   border-radius: .5em; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.media {
    float: left;
    width: calc(50% - 1.5em);
    margin: 0 1.5em 1.5em 0;
    padding: 1.5em;
    background-color: #eee;
    border-radius: .5em;
}

.media:nth-child(even){
    clear:left;
}

.clearfix::after{
    display: block;
    content: ' ';
    clear: both;
}

.media-image {
    float: left;
    margin-right: 1.5em;
}

.media-body {
    margin-top: 0;

    overflow: auto;
}

.media-body h3{
    margin-top: 0;
}