:root{
    font-size: calc(0.5em + 1vw);
    --main-font: Helvetica, Arial, sans-serif;
    --brand-color: #369;

    --main-bg: #fff;
    --main-color: #000;
}

/* @media (min-width: 800px){
    :root{
        font-size: 0.875em;
    }
}

@media (min-width: 1200px){
    :root{
        font-size: 1em;
    }
} */

body{
    font-family: var(--main-font);
}

h1{
    color: var(--brand-color);
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .featured {
    background-color: orange
}

a:link {
    color: blue
}

.footer{
    color: #666;
    background-color: #ccc;
    padding: 15px, 0;
    text-align: center;
    font-size: 14px;
}

.footer a{
    color: inherit;
    text-decoration: underline;
}

.padded {
    font-size: 16px;
    padding: 1em;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 12px;
}

.box-large {
    font-size: 16px;
}

.panel {
    margin: 1em 0;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.panel.large {
    font-size: 1.2rem;
}

.dark{
    margin-top: 2em;
    padding: 1em;
    background-color: #999;
    --main-bg: #333;
    --main-color: #fff;
}