:root{
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body * + * {
    margin-top: 1.5em;
}

body{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: 0.5em;
}

.container{
    display: flex;
}

main{
    display: block;
}

.main{
    float: left;
    width: 70%;
    background-color: #fff;
    border-radius: 0.5em;
}

.sidebar{
    float: left;
    width: calc(30% - 1.5em);
    margin-top: 0;
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: 0.5em;
}

.button-link{
    display: block;
    padding: 0.5em;
    color: #fff;
    background-color: #0090c9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-link + .button-link {
    margin-top: 1.5em;
}

.sponsor-link{
    display: block;
    color: #0072b0;
    font-weight: bold;
    text-decoration: none;
}